[submodule "FreeRTOS-Kernel"]
	path = FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "tcli"]
	path = tcli
	url = https://github.com/dpse/tcli
[submodule "crc"]
	path = crc
	url = https://github.com/gityf/crc
